<head>
  {{ if .Site.Params.GoatCounter }}
  <script data-goatcounter="{{ .Site.Params.GoatCounter.Data }}" async src="{{ .Site.Params.GoatCounter.src }}"></script>
  {{end}}
  <script>
  // this code here is for bidirectional text support.
  // It right aligns and changes direction to RTL when the majority 
  // characters of an element are Persian letters.
  document.addEventListener("DOMContentLoaded", function () {
    function applyTextDirection() {
      const elements = document.querySelectorAll(
        "pre, #post-content p, #post-content h1, #post-content h2, #post-content h3, #post-content h4, #post-content h5, #post-content h6, #post-content li, #post-content blockquote, #post-content dd, #post-content dt, #post-content td, #post-content th"
      );

      const persianRegex = /[\u0600-\u06FF\u0750-\u077F\u08A0-\u08FF\uFB50-\uFDFF\uFE70-\uFEFF]/g;

      elements.forEach((el) => {
        const numberOfPersianLetters = Array.from(el.textContent.matchAll(persianRegex)).length;
        if (numberOfPersianLetters > (el.textContent.length / 2)) {
          console.log("Converting ", el, " to RTL");
          el.style.direction = "rtl";
          el.style.textAlign = "right";
        } else {
          console.log("Not converting ", el, " to RTL");
          el.style.direction = "ltr";
          el.style.textAlign = "left";
        }
      });
    }

    // apply initially during loading
    applyTextDirection();

    // dynamically watch and apply to #post-content
    const observer = new MutationObserver(() => {
      applyTextDirection();
    });

    const postContent = document.querySelector("#post-content");
    if (postContent) {
      observer.observe(postContent, { childList: true, subtree: true });
    }
  });

  </script>
  {{- if .Site.Params.darkToggle -}}
  <script>const t=localStorage.getItem('bulma-theme'); if (t !== null) { document.documentElement.setAttribute('data-theme', t);} </script>
  {{- end -}}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{- if .Site.Params.primaryColor -}}
  <meta name="msapplication-TileColor" content="{{.Site.Params.primaryColor}}">
  <meta name="theme-color" content="{{.Site.Params.primaryColor}}">
  {{- end -}}
  {{- if .IsHome -}}
  <title>{{ .Site.Title }} {{- if .Site.Params.subtitle }} | {{ .Site.Params.subtitle }} {{- end -}}</title>
  <meta property="og:title" content="{{ .Site.Title }} {{- if .Site.Params.subtitle }} | {{ .Site.Params.subtitle }} {{- end -}}">
  <meta property="og:type" content="website">
    {{ if .Site.Params.keywords }}
  <meta name="keywords" content="{{.Site.Params.keywords}}">
  {{ end }}
  {{ if eq .Site.Params.Lang "fa-ir"}}
    <style>
      @font-face {
        font-family: 'Vazirmatn';
        font-display: auto;
        font-style:  normal;
        font-weight: 400;
        src: local('Vazirmatn'), url('css/fonts/Vazir.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Vazirmatn';
        font-display: auto;
        font-style:  normal;
        font-weight: 500;
        src: local('Vazirmatn'), url('css/fonts/Vazir-Medium.woff2') format('woff2');
      }

      @font-face {
        font-family: 'Vazirmatn';
        font-display: auto;
        font-style:  normal;
        font-weight: 600;
        src: local('Vazirmatn'), url('css/fonts/Vazir-Bold.woff2') format('woff2');
      }
      body {
        font: "Vazirmatn";
      }
    </style>
  {{end}}
  {{ if .Site.Params.description }}
  <meta name="description" content="{{ .Site.Params.description }}">
  {{ end }}
  {{- else -}}
  <title>{{ .Title }} | {{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Title }} - {{ .Site.Title }}">
  <meta property="og:type" content="article">
  {{ with .Params.date }}
  <meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05+08:00" }}">
  {{ end }}
  {{ with .Params.lastmod }}
  <meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05+08:00" }}">
  {{ end }}
  <meta name="keywords" content="{{ if .Keywords }}{{ .Keywords }}{{ else }}{{ .Site.Params.keywords }}{{ end }}">
  <meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Title }}{{ end }}">
  {{- end -}}
  {{ if or .Params.author site.Params.author -}}
  <meta name="author" content="{{ (partial "author.html" . ) }}">
  {{- end }}
  <link rel="icon" href="/favicon.ico" sizes="32x32">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
  {{- $options := (dict "outputStyle" "compressed") }}
  {{- $hulgaScss := resources.Get "css/hulga.scss" }}
  {{- $bulmaCss := resources.Get "css/bulma-no-dark-mode.min.css" }}
  {{- if .Site.Params.darkMedia }}
    {{- $bulmaCss = resources.Get "css/bulma.css" }}
  {{- end }}
  {{- if .Site.Params.postcss }}
    {{- $bulma := $bulmaCss | postCSS | resources.Minify | resources.PostProcess }}
    <link rel="stylesheet" type="text/css" href="{{ $bulma.RelPermalink }}">
  {{- else }}
    {{- $bulma := $bulmaCss | resources.Minify }}
    <link rel="stylesheet" type="text/css" href="{{ $bulma.RelPermalink }}">
  {{- end }}
  {{- $hulga := $hulgaScss | resources.ExecuteAsTemplate "css/hulga.scss" . | css.Sass $options | resources.Minify }}
  <link rel="stylesheet" type="text/css" href="{{ $hulga.RelPermalink }}">
  {{- if .Site.Params.pwa }}
  <link rel="manifest" href="/manifest.json">
  {{- end }}
  {{ if eq .Lang "fa-ir"}}
    <script src="/js/jalaali.min.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        let timeElement = document.getElementById("date");
        if (timeElement) {
          let dateStr = timeElement.getAttribute("data-date");  // extract gregorian date
          let [gy, gm, gd] = dateStr.split("-").map(Number);   // convert to numbers
          let { jy, jm, jd } = jalaali.toJalaali(gy, gm, gd);  // convert to jalali
          timeElement.innerText = `${jd.toLocaleString("fa-ir").padStart(2, '۰')} / ${jm.toLocaleString("fa-ir").padStart(2, '۰')} / ${jy.toLocaleString("fa-ir")}`;
          timeElement.dir = "rtl";
        }
      });
    </script>
  {{end}}
</head>
