<section class="hero is-primary shadow-hero {{ if .Site.Params.heroBold }} is-bold {{ end }}">
  <div class="hero-head">
    {{ partial "nav.html" . }}
  </div>
  <div class="hero-body">
    <header class="container has-text-centered" {{ if not .Site.Params.noPagefind -}}data-pagefind-body{{- end -}}>
      <h1 class="title post-title is-spaced">
        {{ .Title }}
      </h1>
      <h2 class="subtitle">
        {{- if isset .Params "date" -}}
        <time id="date" data-date="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        {{- end -}}
        {{- $ctx := . -}}
        {{ with (.GetTerms "categories") }} ・
          {{- range . -}}
            <span class="post-cat mr-2">
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </span>
          {{- end }}
        {{ end }}
        {{- if eq .Type "archives" -}}
        {{- $count := len (where (where .Site.Pages "Type" "post") "Kind" "page") -}}
        {{ i18n "archives_count" (dict "Count" $count) }}
        {{- end -}}
      </h2>
      {{ with (.GetTerms "tags") }}
      <div>
        {{- range . }}
        <span class="post-tag mr-2 post-cat">
          <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
        </span>
        {{- end }}
      </div>
      {{ end }}
    </header>
  </div>
</section>

<!-- لود کتابخانه از CDN -->
<script src="https://cdn.jsdelivr.net/npm/jalaali-js@1.2.8/dist/jalaali.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let timeElement = document.getElementById("date");
    if (timeElement) {
      let dateStr = timeElement.getAttribute("data-date");  // تاریخ میلادی از data-attribute
      let [gy, gm, gd] = dateStr.split("-").map(Number);   // تبدیل به عدد
      let { jy, jm, jd } = jalaali.toJalaali(gy, gm, gd);  // تبدیل به شمسی
      timeElement.innerText = `${jd.toString().padStart(2, '0')} / ${jm.toString().padStart(2, '0')} / ${jy}`;
    }
  });
</script>
